.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
  font-family:'Tahoma Normal', 'Tahoma';
  color:#000000;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.image {
  color:#000000;
}
.placeholder {
}
.heading_1 {
  font-family:'Tahoma Negreta', 'Tahoma';
  font-weight:700;
  font-size:22px;
  color:#000000;
  text-align:left;
}
.heading_2 {
  font-family:'Tahoma Negreta', 'Tahoma';
  font-weight:700;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.heading_3 {
  font-family:'Tahoma Negreta', 'Tahoma';
  font-weight:700;
  font-size:16px;
  text-align:left;
}
.heading_4 {
  font-family:'Tahoma Negreta', 'Tahoma';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Tahoma Normal', 'Tahoma';
  font-size:12px;
  text-align:left;
}
.heading_6 {
  font-family:'Tahoma Normal', 'Tahoma';
  font-size:11px;
  text-align:left;
}
.paragraph {
  font-family:'Tahoma Normal', 'Tahoma';
  color:#000000;
  text-align:left;
  line-height:12px;
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.arrow {
}
.snapshot {
  color:#000000;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.table {
}
.table_cell {
}
.horizontal_line {
}
.vertical_line {
}
.connector {
  color:#000000;
}
